target/
*.class
.idea/
*.iml
.vscode/
.DS_Store

# Xarici server sifreleri
src/main/resources/application-external.yml
deploy/application.yml
deploy/application-external.yml
deploy/bizdevar-backend.jar
